.text_field_wrapper {
  display: flex;
  align-items: center;
  border: 3px solid var(--lab-black-1);
  border-radius: var(--border-radius-2);
  background-color: var(--lab-cream-1);
  height: 100%;
  width: 100%;
}

.text_field_form {
  display: inherit;
  align-items: inherit;
  width: inherit;
  height: inherit;
}

.text_field_input {
  border-radius: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  height: inherit;
  width: inherit;
  font-size: 21px;
  padding: 0 16px;
}

.text_field_slot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}
