:root {
  // ORANGE
  --lab-orange-1: #fc8434;
  --lab-orange-2: #f48434;

  // BROWN
  --lab-brown-1: #906c54;
  --lab-brown-2: #855333;
  --lab-brown-3: #663818;
  --lab-brown-4: #5a3114;

  // CREAM
  --lab-cream-1: #ebe2d8;
  --lab-cream-2: #cabfb0;

  // BLACK
  --lab-black-1: #000000;

  // WHITE
  --lab-white-1: #ffffff;

  // Border
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--lab-black-1);
}

a {
  color: inherit;
  text-decoration: none;
}
