.container {
  background-color: var(--lab-orange-2);
  height: 100dvh;

  .button_section {
    display: flex;
    justify-content: flex-end;
    height: 5dvh;
    padding-top: 16px;
    margin-right: 16px;
  }

  .main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75dvh;

    .search_text_field_wrapper {
      width: 720px;
      height: 64px;

      .search_text_field {
        margin-top: 24px;
        margin-left: 24px;
      }
    }
  }
}
